body {
    background-color: green;
}

header #title{
    text-align: center;
    color: white;
}

h3 {
    display: inline;
}

section {
    width: 100%;
}

.game-board {
    background-color: #CEFF84;
    height: 500px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
    margin: 4px;
}

.game-board > .row {
    margin-bottom: 8%;
    margin-top: 8%;
}
.game-board > .row > div {
    margin-left: 2%;
    margin-right: 2%;
}